@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mw-logo {
  width: 15%;
  margin-left: 4vw;
  margin-top: 4vw;
}

.main-content {
  padding: 0vw 5vw;
}

.h1 {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: -0.1vw;
  padding-bottom: 20px;
}

.card-container {
  padding: 1vw 5vw;
  display: grid;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 1vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  justify-content: center;
}

.card-box {
  border-radius: 18px !important;
  width: 100%;
  height: 15vh;
  /* padding: 1rem; */
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container > a:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}

.card-box:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.8);
}
.slug {
  font-size: 1.5vw;
  line-height: 1.5vw;
}

.card-box img {
  object-fit: contain;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .mw-logo {
    width: 30%;
    margin-left: 5vw;
    margin-top: 5vw;
  }

  .h1 {
    font-size: 6vw;
    margin-top: 2vw;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 4vw;
    max-width: 90vw;
    padding: 2vw;
  }

  .card-box {
    height: 12vh;
  }

  .card-box img {
    width: 90%;
    aspect-ratio: 3/2.5;
    object-fit: contain;
  }
}

@media screen and (max-width: 480px) {
  .mw-logo {
    width: 30%;
  }

  .h1 {
    font-size: 8vw;
  }

  .card-container {
    grid-template-columns: 1fr;
    gap: 5vw;
  }

  .card-box {
    height: 15vh;
  }

  .card-box img {
    width: 90%;
    aspect-ratio: 3/2.5;
    object-fit: contain;
  }
}
